.background-white {
  background-color: #ffffff;
  min-height: 100vh;
}

.leaflet-container {
  height: 400px;
}

.widgets {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  margin-top: 30px;
}

.widgets-top {
  display: flex;

}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  height: 300px;
}
