.weather-card {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 1.5rem;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.temperature {
  font-size: 2rem;
  margin-top: 10px;
}

@media (max-width: 430px) {
  .temperature {
    font-size: 1.5rem;
  }

  .weather-card {
    display: flex;
    flex-direction: column;
    margin: 0 1.2rem 0 1.2rem;

  }

  .weather-icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 360px) {
  .temperature {
    font-size: 1rem;
  }

  .weather-card {
    display: flex;

  }

  .weather-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}
