.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 120px;
  background-color: #01779B;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.temperature {
  font-size: 1.5rem;
  margin-top: 10px;
}
