.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.3)), url("./img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;

}

.content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 6.1rem;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 0rem;
}


.content h2 {
  font-size: 1.8rem;
  color: white;
  padding: 5px 5px 5px 10px;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}


.btn-plan {
  all: initial;
  color: black;
  background-color: white;
  border-radius: var(--border-radius-btn);
  font-size: 1rem;
  padding: 0.8rem 3rem;
  font-weight: 400;
  font-style: normal;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
  .content {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 900px;
  }

  .content-transition {
    transition: 0.5s ease-in-out;
    transform: translateY(-90px)
  }

  .content h1 {
    font-size: 5rem;
  }

  .content h2 {
    font-size: 1.5rem;
  }

}

@media (max-width: 768px) {
  .content {
    padding-top: 100px;
    max-width: 600px;
  }

  .content h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  .content {
    padding-top: 50px;
    max-width: 320px;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content h2 {
    font-size: 1rem;
  }

  #form {
    max-width: 300px;
  }
}
