.notepad {
  width: 700px;
  height: auto;
  margin: 24px auto 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 500px;
  overflow: hidden;
  background-color: #FFF;
  color: #222;
  font-size: 24px;
  resize: none;
  line-height: 40px;
  padding: 0px 100px 34px 100px;
  background-image: url(/img/notepad_line.png);
  background-repeat: repeat-y, repeat;
  border-radius: 12px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.notepad-button {
  cursor: pointer;
  margin-top: 5px;
  height: 40px;
  padding: 0 24px;
  font-size: 20px;
  color: #FFF;
  border-radius: 8px;
  background-color: #01779B;
  align-self: flex-start;
}

.notepad-button:active,
.notepad-button:focus {
  opacity: 0.8;
}
