.notepad {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  width: 100%;
  overflow: hidden;
  background-color: #FFF;
  color: #222;
  font-size: 1rem;
  resize: none;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.117);
}

.notepad-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.notepad-headline {
  font-size: 1.5rem;
}

.notepad-button {
  all: initial;
  cursor: pointer;
  height: 40px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #FFF;
  border-radius: 10px;
  background-color: #01779B;
  align-self: flex-start;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.notepad-button:active,
.notepad-button:focus {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .notepad {
    width: 100%
  }

  .text {
    height: 250px;
    width: 100%
  }

  .notepad-headline {
    font-size: 1.2rem;
  }

  .notepad-button {
    height: 20px;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 13px;
  }

  .text {
    margin-bottom: 0px;
  }
}

@media (max-width: 360px) {

  .text {
    height: 250px;
    width: 290px;
  }

  .notepad {
    display: flex;
    align-items: center;
    width: 290px;
    /* padding-right: 43px; */
  }

  .notepad-button {
    height: 20px;
    padding: 0 24px;
    padding: 10px 15px;
    border-radius: 13px;
  }
}
